In [ ]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

### IMPORTS

In [8]:
import pandas as pd

### Testing Threshold Transformer Function

In [2]:
colors = {'red': ['blood', 'wine', 'wine', 'blood', 'blood', 'blood', 'wine'], 
          'green': ['neon', 'grassy', 'grassy', 'grassy', 'neon', 'grassy', 'grassy'], 
          'blue': ['sky', 'water', 'sky', 'sky', 'water', 'sky', 'sky']}

In [3]:
colors

{'blue': ['sky', 'water', 'sky', 'sky', 'water', 'sky', 'sky'],
 'green': ['neon', 'grassy', 'grassy', 'grassy', 'neon', 'grassy', 'grassy'],
 'red': ['blood', 'wine', 'wine', 'blood', 'blood', 'blood', 'wine']}

In [4]:
data = pd.DataFrame.from_dict(colors)
data

    blue   green    red
0    sky    neon  blood
1  water  grassy   wine
2    sky  grassy   wine
3    sky  grassy  blood
4  water    neon  blood
5    sky  grassy  blood
6    sky  grassy   wine

In [5]:
data.blue.value_counts()

sky      5
water    2
Name: blue, dtype: int64

#### Definitions

#### data = DataFrame
#### columns = 'blue', 'green', 'red'
#### category_column = for column in columns 'blue': 'sky', 'water'

In [6]:
def threshold_transformer(threshold, data):
    # grabs the columns with categorical data
    category_columns = []
    for column_name in data.columns:
        if data.column_name.dtype() == 'category':
            category_columns.append(column_name)

    # for each categorical_column in data[categorical_columns]:
    for column in category_columns:
        # what categories are in each column
        # what is the value count for each category
        categories_count = data.categorical_column.value_counts().to_dict()
        # for each category in categories_count:
        other_collection = []
        for category, value in categories_count.iteritems():
            # if the value count is > than threshold then ignore it
            # else add it to other_collection
            if value < threshold:
                    other_collection.append(category)
        for row in data.column:
            if row in other_collection:
                 row['column'] = 'other'
    # returns dataframe
    return data

In [109]:
# threshold_transformer(0.10, data)

In [108]:
# category_columns = []
#     for column_name in data.columns:
#         if data.column_name.dtype() == 'category':
#             category_columns.append(column_name)
            
# category_columns = []

# for col in data.columns:
#     if data.columns.dtype() == 'category':
#         category_columns.append(column)

In [9]:
data.dtypes

blue     object
green    object
red      object
dtype: object

In [10]:
# maybe refactor into something like this: map(lambda x: x.dtype, columns)
# works, but need to collect and filter

for col in data.columns:
    (lambda x: x.dtype)

In [11]:
data.blue.dtype

dtype('O')

In [12]:
data.columns

Index([u'blue', u'green', u'red'], dtype='object')

In [107]:
# for columns in data.columns:
#     data.columns.dtype()

###  fixing stuff that's broken with revisions from Nico

In [1]:
import pandas as pd

In [2]:
colors = {'color': ['red', 'red', 'red', 'blue', 'blue', 'blue', 'green'],
          'shape': ['circle', 'circle', 'squared', 'squared', 'squared', 'squared', 'squared'],
          'profile': ['high', 'high', 'high', 'low', 'low', 'low', 'low']}

In [3]:
data = pd.DataFrame(colors, dtype='category')

In [4]:
from sonic_screwdrivers import DFThresholdTransformer

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/jillianhade/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/jillianhade/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package maxent_treebank_pos_tagger to
[nltk_data]     /Users/jillianhade/nltk_data...
[nltk_data]   Package maxent_treebank_pos_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/jillianhade/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [5]:
DFThresholdTransformer(.9)

DFThresholdTransformer(threshold=0.9)

In [6]:
tt = DFThresholdTransformer(.3)

In [7]:
tt.get_params()

{'threshold': 0.3}

In [8]:
tt.fit(data)

In [9]:
tt.categorical_columns_

Index([u'color', u'profile', u'shape'], dtype='object')

In [14]:
list(tt.categorical_columns_)

['color', 'profile', 'shape']

In [10]:
new_df = tt.transform(data)

In [13]:
new_df

   color profile    shape
0    red    high    other
1    red    high    other
2    red    high  squared
3   blue     low  squared
4   blue     low  squared
5   blue     low  squared
6  other     low  squared

In [11]:
new_df.dtypes

color      category
profile    category
shape      category
dtype: object

In [12]:
# test this in unit test

new_df.color.cat.categories

Index([u'blue', u'other', u'red'], dtype='object')

In [11]:
for color in data['color'].iteritems():
    print color[1]

red
red
red
blue
blue
blue
green

In [12]:
data

   color profile    shape
0    red    high   circle
1    red    high   circle
2    red    high  squared
3   blue     low  squared
4   blue     low  squared
5   blue     low  squared
6  green     low  squared

In [13]:
data['color'].map(lambda x: 'other' if x in ['green'] else x)

0      red
1      red
2      red
3     blue
4     blue
5     blue
6    other
Name: color, dtype: category
Categories (3, object): [blue, other, red]

In [79]:
# revised function

def get_categorical_columns(data):
        
    categorical_columns = []
    for column_name in data.columns:
        if data[column_name].dtype == 'category':
            categorical_columns.append(column_name)
    return categorical_columns

def threshold_transformer(threshold, data):

    

    for column in category_columns:

        categories_count = data[column].value_counts().to_dict()

        other_collection = []
        for category, value in categories_count.items():

            if value < (threshold * len(data)):
                other_collection.append(category)

        data[column] = pd.Series(['other' if row[1][column]
                        in other_collection
                        else row[1][column] for row in data.iterrows()]).astype('category')

    return data

In [83]:
result = threshold_transformer(0.3, data)
result

   color profile  shape
0  other   other  other
1  other   other  other
2  other   other  other
3  other   other  other
4  other   other  other
5  other   other  other
6  other   other  other

In [72]:
copy = data.copy()

In [73]:
threshold_transformer(0, copy)

   color profile    shape
0    red    high    other
1    red    high    other
2    red    high  squared
3   blue     low  squared
4   blue     low  squared
5   blue     low  squared
6  other     low  squared

In [84]:
threshold_transformer(0.0, copy)

   color profile    shape
0    red    high    other
1    red    high    other
2    red    high  squared
3   blue     low  squared
4   blue     low  squared
5   blue     low  squared
6  other     low  squared

### Chunking out function

#### Original Function

In [88]:
import pandas as pd


class DFThresholdTransformer():

    def __init__(self, data):
        self.data = data

    def transform(self, threshold):
        data_copy = self.data.copy()
        categorical_columns = self._get_categorical_columns(data_copy)
        for column in categorical_columns:

            categories_count = data_copy[column].value_counts().to_dict()
            # maybe new function here?
            other_collection = []
            for category, value in categories_count.items():

                if value < (threshold * len(data_copy)):
                    other_collection.append(category)
            # return other_collection
            # another new function here?
            data_copy[column] = pd.Series(['other' if row[1][column]
                                          in other_collection
                                          else row[1][column] for row in data_copy.iterrows()]).astype('category')

        return data_copy

    def _get_categorical_columns(self, data):
        categorical_columns = []
        for column_name in data.columns:
            if data[column_name].dtype == 'category':
                categorical_columns.append(column_name)
        return categorical_columns

#### Chunky chunk chunk

In [89]:
def _get_categorical_columns(self, data):
        categorical_columns = []
        for column_name in data.columns:
            if data[column_name].dtype == 'category':
                categorical_columns.append(column_name)
        return categorical_columns

In [124]:
def _transform(self, categorical_columns):
        data_copy = self.data.copy()
        categorical_columns = self._get_categorical_columns(data_copy) # calling func here to fill categorical_columns
        for column in categorical_columns:
            categories_count = data_copy[column].value_counts().to_dict()
        return categories_count

In [101]:
def apply_threshold(self, categories_count, threshold):
    other_collection = []
    for category, value in categories_count.items():

            if value < (threshold * len(data_copy)):
                other_collection.append(category)
            # return other_collection
            # another new function here?
            data_copy[column] = pd.Series(['other' if row[1][column]
                                          in other_collection
                                          else row[1][column] for row in data_copy.iterrows()]).astype('category')

    return data_copy

In [102]:
_get_categorical_columns(data, data)

['color', 'profile', 'shape']

In [ ]:
# SO FAR THIS WORKS AS IS...

# import pandas as pd


# class DFThresholdTransformer():

#     def __init__(self, data):
#         self.data = data

#     def transform(self, threshold):
#         data_copy = self.data.copy()
#         categorical_columns = self._get_categorical_columns(data_copy)
#         for column in categorical_columns:

#             categories_count = data_copy[column].value_counts().to_dict()
#             # maybe new function here?
#             other_collection = []
#             for category, value in categories_count.items():

#                 if value < (threshold * len(data_copy)):
#                     other_collection.append(category)
#             # return other_collection
#             # another new function here?
#             data_copy[column] = pd.Series(['other' if row[1][column]
#                                           in other_collection
#                                           else row[1][column] for row in data_copy.iterrows()]).astype('category')

#         return data_copy


#     # chunk 1
#     def _get_categorical_columns(self, data):
#         categorical_columns = []
#         for column_name in data.columns:
#             if data[column_name].dtype == 'category':
#                 categorical_columns.append(column_name)
        
#         return categorical_columns

In [143]:
# suggestedby Daniel: try making static 

def series_func(series, threshold):
    
    categories_counts = series.value_counts().to_dict()
    other_collection = []
    for category, value in categories_count.items():
            if value < (threshold * len(data_copy)):
                other_collection.append(category)

            data_copy[column] = pd.Series(['other' if row[1][column]
                                            in other_collection
                                              else row[1][column] for row in data_copy.iterrows()]).astype('category')

            return data_copy
def transform(series, threshold):
        data_copy = self.data.copy()
        categorical_columns = self._get_categorical_columns(data_copy)
        for column in categorical_columns:

            categories_count = series.value_counts().to_dict()
            # maybe new function here?
            other_collection = []
            for category, value in categories_count.items():

                if value < (threshold * len(data_copy)):
                    other_collection.append(category)
            # return other_collection
            # another new function here?
            data_copy[column] = pd.Series(['other' if row[1][column]
                                          in other_collection
                                          else row[1][column] for row in data_copy.iterrows()]).astype('category')

        return data_copy

### TESTING WORKING FUNCTION

In [82]:
training_df = pd.DataFrame({
            'color': pd.Categorical(['red', 'red', 'red', 'blue', 'blue', 'blue', 'green']),
            'height': pd.Series(['10', '10', '20', '10', '10', '20', '20']),
            'profile': pd.Categorical(['high', 'high', 'high', 'low', 'low', 'low', 'low'])
        })

testing_df = pd.DataFrame({
            'color': pd.Categorical(['red', 'blue', 'blue', 'green', 'green', 'green', 'green']),
            'height': pd.Series(['10', '10', '20', '10', '10', '20', '20']),
            'profile': pd.Categorical(['low', 'low', 'low', 'low', 'high', 'high', 'high'])

        })

In [83]:
training_df

   color height profile
0    red     10    high
1    red     10    high
2    red     20    high
3   blue     10     low
4   blue     10     low
5   blue     20     low
6  green     20     low

In [104]:
training_df['color'].value_counts()

red      3
blue     3
green    1
Name: color, dtype: int64

In [106]:
training_df.columns.value_counts()

height     1
profile    1
color      1
dtype: int64

In [84]:
from sonic_screwdrivers import DFThresholdTransformer

In [85]:
DFThresholdTransformer()

DFThresholdTransformer(threshold=0.1)

In [86]:
f = DFThresholdTransformer(.3)

In [90]:
f.fit(training_df)
print f.fit(training_df)

None

In [91]:
f.transform(training_df)

   color height profile
0    red     10    high
1    red     10    high
2    red     20    high
3   blue     10     low
4   blue     10     low
5   blue     20     low
6  other     20     low

In [92]:
print f.threshold_categories

<function threshold_categories at 0x10dd24758>

In [93]:
list(f.categorical_columns_)

['color', 'profile']

In [94]:
list(f.low_categories_)

['color', 'profile']

In [97]:
f.set_params

In [99]:
f.threshold

0.3

In [101]:
f.threshold_categories

In [103]:
f.transform

In [71]:
new_data_frame = f.transform(training_df)
new_data_frame

   color height profile
0    red     10    high
1    red     10    high
2    red     20    high
3   blue     10     low
4   blue     10     low
5   blue     20     low
6  other     20     low

In [72]:
new_data_frame.dtypes

color      category
height       object
profile    category
dtype: object

In [73]:
new_data_frame.color.cat.categories

Index([u'blue', u'other', u'red'], dtype='object')

In [74]:
new_data_frame

   color height profile
0    red     10    high
1    red     10    high
2    red     20    high
3   blue     10     low
4   blue     10     low
5   blue     20     low
6  other     20     low

In [75]:
n = DFThresholdTransformer(.3)

In [76]:
n.fit(testing_df)

In [77]:
n.transform(testing_df)

   color height profile
0  other     10     low
1  other     10     low
2  other     20     low
3  green     10     low
4  green     10    high
5  green     20    high
6  green     20    high

In [79]:
print n.threshold_categories

<function threshold_categories at 0x10dd24758>

In [80]:
list(n.categorical_columns_)

['color', 'profile']

In [81]:
test_data_frame = n.transform(testing_df)
test_data_frame

   color height profile
0  other     10     low
1  other     10     low
2  other     20     low
3  green     10     low
4  green     10    high
5  green     20    high
6  green     20    high